{% extends "suivi/layout.html" %}
{% load humanize %}
{% block extrajs %}
{% load static %}
    <script type="text/javascript" src="{% static 'Highcharts/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'Highcharts/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'Highcharts/exporting.js' %}"></script>
    <script type="text/javascript">
        var chart;
        $(document).ready(function() {
            {% for mesure in mesures %}
                Chart = new Highcharts.Chart({
                    chart: {
                        renderTo: '{{ mesure.nom_mesure }}',
                        type: 'areaspline',
                        /*type: 'spline'*/
                        zoomType: 'xy'
                    },
                    title: {
                        text: null /*'Statistiques pour le types de ventes',
                        align: 'left',*/
                    },
                    subtitle: {
                        text: null /*'Statistiques de {{ an_min }} à {{ an_max }}',
                        align: 'left',*/
                    },
                    xAxis: {
                        categories: [
                            {% for x in x_axis %}
                                "{{ x|date:"M Y" }}",
                            {% endfor %}
                        ],
                        tickInterval: null
                    },
                    yAxis: {
                        title: {
                            text: null,
                        },
                        min: 0
                    },
                    credits: {
                        text: null,
                    },
                    plotOptions: {
                        series: {
                            marker: {
                                radius: 3
                            },
                            lineWidth: 1,
                            states: {
                                hover: {
                                    lineWidth: 2
                                }
                            },
                        }
                    },
                    series: [

                            {
                                name: '{{ mesure.nom_mesure }}',
                                data: [
                                    {% for donnee in mesure.donnees %}
                                        {
                                            y: {{ donnee.vente }},
                                            x: "{{ donnee.date|date:"M Y" }}",
                                            name: "{{ donnee.date|date:"M Y" }}",
                                        },
                                    {% endfor %}
                                ],
                            },
                    ]
                });
            {% endfor %}
        });
    </script>
    <script type="text/javascript">
        var chart;
        $(document).ready(function() {
            Chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'part',
                    height: 300,
                    type: 'pie',
                },
                title: {
                    text: null,
                },
                credits: {
                    text: null,
                },
                series: [{
                    name: 'Vente',
                    data: [
                        {% for pie in pies %}
                            ['{{ pie.nom }}', {{ pie.vente }}],
                        {% endfor %}
                    ]
                }]
            });
        });
    </script>
    <script type="text/javascript">
        var chart;
        $(document).ready(function() {
            Chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'pourcentage',
                    height: 300,
                    type: 'pie',
                },
                title: {
                    text: null,
                },
                credits: {
                    text: null,
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Vente',
                    data: [
                        {% for pie in pies %}
                            {name: '{{ pie.nom }}', y: {{ pie.vente }} },
                        {% endfor %}
                    ]
                }]
            });
        });
    </script>
{% endblock %}

{% block subcontent %}

    {% if message %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-info-circle"></i> {{ message }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if parametres %}
         <div class="row">
            {% for mesure in liste_mesure %}
                <div class="col-lg-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-bar-chart-o fa-fw"></i> {{ mesure }}<!-- - {{ an_min }}/{{ an_max }}-->
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div id="{{ mesure }}" class="col-lg-12" ></div>
                            <div class="text-right">
                                <a href="#">Détails <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-long-arrow-right"></i>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div id="pourcentage" class="col-lg-12" ></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-long-arrow-right"></i>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div id="part" class="col-lg-12" ></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-long-arrow-right"></i>
                        </h3>
                    </div>
                    <div class="panel-body" style="padding: 0px">
                        <div class="col-lg-12" >
                            <table class="table table-hover table-striped" style="max-width: 100%; min-width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Type de consommation</th>
                                        <th>Janvier</th><th>Février</th><th>Mars</th><th>Avril</th><th>Mai</th><th>Juin</th>
                                        <th>Juillet</th><th>Août</th><th>Septembre</th><th>Octobre</th><th>Novembre</th><th>Décembre</th>
                                        <th>Evolution globale</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mesure in evolution %}
                                        <tr>
                                            <td><b>{{ mesure.nom_mesure }}</b></td>
                                            {% for data in mesure.data %}
                                                <td style="text-align: center; font-family: Cambria">
                                                    {% if data.evolution != '-' %}
                                                        {% if data.evolution < 0 %}
                                                            <span style="color: #FF6600">
                                                            <i class="glyphicon glyphicon-arrow-down" aria-hidden="true"><br><b> {{ data.evolution|floatformat:2 }}%</b></i>
                                                            </span>
                                                        {% elif data.evolution == 0 %}
                                                            <span style="color: #0000CC">
                                                            <i class="fa fa-level-right" aria-hidden="true"><br><b> {{ data.evolution|floatformat:2 }}%</b></i>
                                                            </span>
                                                        {% else %}
                                                            <span style="color: #009900">
                                                            <i class="glyphicon glyphicon-arrow-up" aria-hidden="true"><br><b> {{ data.evolution|floatformat:2 }}%</b></i>
                                                            </span>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                            <td style="text-align: center; font-family: Cambria">
                                                {% if data.evolution != '-' %}
                                                        {% if mesure.vente_globale < 0 %}
                                                            <span style="color: #FF6600">
                                                            <i class="glyphicon glyphicon-arrow-down" aria-hidden="true">
                                                                <br><b> {{ mesure.vente_globale|floatformat:2 }}%</b>
                                                            </i>
                                                            </span>
                                                        {% elif mesure.vente_globale == 0 %}
                                                            <span style="color: #0000CC">
                                                            <i class="glyphicon glyphicon-arrow-right" aria-hidden="true">
                                                                <br><b> {{ mesure.vente_globale|floatformat:2 }}%</b>
                                                            </i>
                                                            </span>
                                                        {% else %}
                                                            <span style="color: #009900">
                                                                <i class="glyphicon glyphicon-arrow-up" aria-hidden="true">
                                                                    <br><b> {{ mesure.vente_globale|floatformat:2 }}%</b>
                                                                </i>
                                                            </span>
                                                        {% endif %}
                                                    {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table><hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}